body {
	background: #000000;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

ul {
	padding: 50px;
	margin: 0;
	border: 10px solid #FFFFFF;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 25px;
	cursor: default;
}

ul li {
	color: #FFFFFF;
	list-style: none;
	float: left;
	font-size: 5em;
	transition: .9s;
}

ul:hover li {
	transform: rotateY(360deg);
}