body {
	padding: 0;
	margin: 0;
	background: #000000;
}


h1 {
	font-size: 5em;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}