body {
	background: #000000;
	padding: 0;
	margin: 0;
}

.container {
	width: 600px;
	height: 600px;
	margin: 100px auto;
	background: #FFFFFF;
	position: relative;
}

.container h1 {
	margin: 0;
	padding: 0;
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	top: 50%;
	color: #000000;
	transform: translateY(-50%);
}